@charset "UTF-8";
/* -----------HEADER---------------- */
.site-navbar {
  width: 100%;
  background-color: #272525;
  position: fixed;
  z-index: 1999;
  margin-bottom: 0px;
  top: 0;
}
.site-navbar a {
  color: #272525 !important;
}
.site-navbar a:hover {
  color: #272525;
  font-weight: bolder;
}

/* -----------HEADER---------------- */
/* -----------BUTTON---------------- */
button {
  background-color: #272525;
  padding: 5px 20px;
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 20px;
  border: 2px solid #272525;
}

button a {
  color: white;
}

button a:link {
  color: white;
}

button a:visited {
  color: white;
}

button:hover a {
  text-decoration: none;
  color: #272525;
  font-weight: 600;
}

button:hover {
  background-color: transparent;
  border: 2px solid #272525;
  transition: all 0.5s;
}

/* -----------BOTONES---------------- */
.contact_form {
  width: 460px;
  height: auto;
  margin: 40px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e94647;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e94647;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

.translationHome {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  line-height: 1.8;
  font-size: 15px;
  padding: 20px;
}

/* -----------LINKS---------------- */
a {
  color: #C07338;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #C07338;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #C07338;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #E94647;
  text-decoration: none;
}

/* -----------LINKS---------------- */
/* SECTION ZERO */
.Contenedor {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "tituloUno" "tituloDos" "botones";
}

.tituloUno {
  grid-area: tituloUno;
}

.tituloDos {
  grid-area: tituloDos;
  font-size: 1em;
}

.botones {
  grid-area: botones;
}

div.welcome {
  background: linear-gradient(90deg, white 50%, #f5f3f0 50%);
  background-size: cover;
  padding-bottom: 10%;
}

h1 {
  margin: 50px;
  text-decoration: none;
}

.header-block {
  padding: 10%;
  min-height: 300px;
  position: relative;
  font-size: 20px;
  margin: 10px;
}

@media only screen and (max-width: 734px) {
  .header-block {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }

  h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 769px) {
  .header-block {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
/* FIN SECTION ZERO */
/* Varios parámetros*/
/* LABEL */
.label-header {
  background-color: #272525;
  color: white;
  padding-top: 100px;
  font-size: 20px;
  display: flex;
  background-size: cover;
}

.label-header h2 {
  margin-bottom: 40px;
}

@media only screen and (max-width: 699px) {
  .label-header {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }

  h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 700px) {
  .label-header {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
/* FOOTER */
.site-footer {
  background-color: #272525;
  background-size: cover;
  top: 50px;
  padding: 40px;
  color: white;
  width: 100%;
  font-size: 14px;
}

.footer-text {
  color: white;
}

.container-footer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 20px;
  justify-content: space-between;
}
.container-footer .f-column1 {
  grid-area: 1/1/2/3;
}
.container-footer .f-column2 {
  grid-area: 1/3/2/5;
}
.container-footer .f-column3 {
  grid-area: 1/5/2/7;
}
.container-footer .f-column3 .row {
  margin-top: 10px;
}
.container-footer .f-column4 {
  grid-area: 1/7/2/8;
}
.container-footer .f-column4 .row {
  margin-top: 10px;
}

footer .copy-bar {
  padding-top: 10px;
  background-color: #272525;
  color: white;
  font-size: 12px;
}

@media only screen and (max-width: 992px) {
  .container-footer {
    display: inline-block;
    justify-items: center;
  }

  .f-column2, .f-column3, .f-column3, .f-column4 {
    padding-top: 20px;
    align-self: center;
    justify-self: center;
  }
}
/* FOOTER */
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
}

h1, h2, h4, h5, h6 {
  font-family: "Yeseva One", cursive;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

.bg-section1 {
  background-color: #f5f3f0;
}

/*# sourceMappingURL=style.css.map */
