@import "componentes/header";
@import "base/buttons";
@import "base/forms";
@import "base/links";
@import "base/indexZero";
@import "base/labelTop";
@import "componentes/footer";


body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
}

h1, h2, h4, h5, h6 {
    font-family: 'Yeseva One', cursive;
}
h1{
    font-size: 48;
}
h2{
    font-size: 36;
}
h4{
    font-size: 24;
}

.bg-section1 {
    background-color: rgb(245, 243, 240);
}
