@import "../base/listas";

/* FOOTER */
.site-footer {
    background-color: nth($colorsSite, 2 );
    background-size: cover;
    top: 50px;
    padding: 50px;
    color: white !important;
  }
  
  .footer-text {
    color: white !important;
  }
  ul {
    list-style-type: none;
  }
  

  
  /* FOOTER */