@import "../base/listas";

/* FOOTER */
.site-footer {
    background-color: nth($colorsSite, 2 );
    background-size: cover;
    top: 50px;
    padding: 50px;
    color: nth($colorsSite, 1 );
  }
  
  .footer-text {
    color: nth($colorsSite, 1 );
    font-size: 14px;
  }
  ul {
    list-style-type: none;
  }
  

  footer .copy-bar{
    background-color: nth($colorsSite, 2 );
    color: nth($colorsSite, 1 );
    font-size: 12px;
  }
  /* FOOTER */